body{
    display: block;
    margin: 0px; 
} 

.immages {
    width: 1438px;
    height: 768px;
}

.words{
    width: 333px;
    margin: 0 auto;
}


.header {
    background: #fff;
    border: 1px solid #E6E6E6;
}

.heder_conteiner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.foot {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: right;
    max-width: 900px;
    margin-left: 240px;
}

.imgHeder{
    margin-left: 31px;
}

.foot li{
    padding: 30px;
}

li {
    padding: 0 20px;
    justify-content: center;
    list-style-type: none;
    position: relative;

}

svg {
    position: relative;
}

.foot a {

    font-size: 12px;
    color: #48555B;
    list-style-type: none;
    text-decoration: none; 
    font-weight: bold;
    transition: 0.4s;

}

.foot a:hover {
    color: black;
}

.mein {
    height: 100vh;
    max-width: 1438px;
    width: 100%;
    background-image: url(../images/01.png);
    justify-content: center;
    padding-top: 45px;
    background-size: cover;
    position: relative;
    background-position: center;
}

.text {
    display: block;
    padding-top: 270px;
    margin: 0 auto;
    width: 520px;
    font-size: 38px;
    font-family: Bebas Neue;
    color: #fff;
}

.main_logo {
    display: block;
    margin: 0 auto;
}

.words {
    display: block;
    margin: 0 auto;
    color: #fff;
    word-spacing: 3px;

}

.scrol_down {
    display: block;
    justify-content: center;
    border: none;
    background-color: transparent;
    transition: 0.4s;
    color: #fff;
    word-spacing: 3px;
    position: absolute;
    bottom: 71px;
    left: 50%;
    transform: translateX(-50%);
}

.scrol_down:hover {
    color: black;

}

.about a {
    color: #00A4E5;
    font-weight: bold;
    align-items: center;
}

.heder_conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    color: #48555B;
    width: 100%;
    margin-bottom: 85px;
    margin-top: 57px;
}

.title::before {
    content: "";
    display: flex;
    width: 55px;
    height: 2px;
    position: absolute;
    top: 27px;
    background-color: #00A4E5;

}

.founded {
    color: #48555B;
    font-size: 20px;
    padding-bottom: 30px;
    
}

.lorem {
    font-size: 13px;
    color: #48555B;
    max-width: 450px;
    width: 100%;
    max-height: 100%;
    height: 80px;
   
}

.sating {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;
}

.text_blue {
    color: #16ACE8;
}

.bitmap1{
    padding-right: 15px;
    padding-top: 28px;
    width: 140px;
    height: 179px;
}

.bitmap2{
    width: 140px;
    height: 179px;
    padding-top: 28px;
}

.bitmap3{
    width: 140px;
    height: 179px;
    padding-top: 28px;
}

.saningleftContent{
    display: flex;
    width: 45%;
    flex-direction:column ;
}

.bintmap{
    display: flex;
    width: 45%;
    justify-content: space-between;
}
 
.bintMapItem{
    position: relative;
    display: flex;
    width: 33,3%;

}

.bitMapTitle{
    position: absolute;
    top: 0;
    left: 0;
    font-size:24px ;
    color: #fff;
    padding-left: 20px;
    margin-top: 38px;
}

.bintMapItem_2{
    position: relative;
    display: flex;
    width: 33,3%;
    margin-right: 15px;

}

.WeManage{
    position: absolute;
    top: 0;
    left: 0;
    font-size:24px ;
    color: #fff;
    margin-top: 38px;
    padding-left: 20px;
}


.bintMapitem_3{
    position: relative;
    display: flex;
    width: 33,3%;
    margin-right: 15px;

}

.WeBuild{
    position: absolute;
    top: 0;
    left: 0;
    font-size:24px ;
    color: #fff;
    margin-top: 38px;
    padding-left: 20px;
}

    /* Нова секція  */

.section_our{
    width: 100%;
    height: auto;
   max-width: 1438px;
}


.box{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: black;
    
}


/* Новий блок  */
.logo::before {
    content: "";
    display: flex;
    width: 50px;
    height: 2px;
    position: absolute;
    top: 1300px;
    left: 250px;
    background-color: #00A4E5;
} 

.divLogo{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.subTitleContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 78px;
}

.logo{
    padding: 0px;
    max-width: 250px;
    margin-left: 45px;
    display: flex;
    justify-content: center;   
    color:  #48555B;
    font-size: 18px;
}

.p_text {
    margin: 0 auto;
    display: flex;
    color: #48555B;
    font-size: 11px;
    align-items: center;
    justify-content: right;
    align-items: center;

}

.butom_all{
    border: none;
    background-color: #00A4E5;
    color: #fff;
    width: 150px;
    height: 40px;
    margin-right: 19px;
    font-weight: bold;
    transition: 0.4s;
}

.butom_all:hover{
    background-color:darkgrey;
}

    /* перша рамка  */
    
.itemSumtailClas{
    width: 33.3%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 13.5px;
    border: 1px solid #e6e6e6;
}

.projekt{
    font-size: 16px;
    color: #48555B;
    margin-top: 25px;
    margin-left: 23px;
}

.ipsum{
    font-size: 13px;
    color: #48555B;
    margin-top: 13px;
    margin-left: 23px;
    margin-bottom: 39px;
}

.img_clic {
    width: 65px; 
    height: 75px;
    margin-top:38px ;
    margin-left: 23px;

}  

    /* Друга рамка */ 

.img_bi2{
   width: 65px;
   height: 75px;
   margin-top: 38px;
   margin-left: 23px;
}

.audit{
    font-size: 16px;
    color: #48555B;
    margin-top: 25px;
    margin-left: 23px;
}

.project_2{
    font-size: 13px;
    color: #48555B;
    margin-top: 13px;
    margin-left: 23px;
    margin-bottom: 39px;
}
   /* третя рамка */

.project_3{
    font-size: 16px;
    color:#48555B ;
    margin-top: 28px;
    margin-left: 23px;
}

.img_bi3{
    width: 65px;
    height:75px;
    margin-top: 38px;
    margin-left: 23px;
}

.text_h2{
    font-size: 13px;
    color: #48555B;
    margin-top: 13px;
    margin-left: 23px;
    margin-bottom: 30px;
}

.img_bg{
    width: 1345px;
    height: 446px;
}

.sumtailClas{
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-bottom: 115px;
    margin-right: 210px;
    margin-left: 230px;
}

    /* Новий блок */
.section_2{
    max-width:1438px ;
    width: 100%;
    max-height: 500px ;
    height: 100%;
}

.div_bottom{
    max-width:1438px;
    width: 100%;
    background-image: url(../images/bg1.png) ;
    height: 498px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_Text{
    display: flex;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 35px;
    color: #48555B;
    Line-height: 36px;
    text-align: center;
}

.buttom_2{
    display: block;
    background-color: #00A4E5;
    border: none;
    width: 150px;
    height: 40px;
    color: #fff;
    padding-left: 22px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    font-weight: bold;
    transition: 0.4s;
} 

.buttom_2:hover{
    background-color: darkgray;
}
   /* новий блок */

.div_sectoin{
    display:flex;
    background-color:#171819;
    max-width: 1438px;
    width: 100%;
    height: 100px;
}

.div_h2{
    color: #fff;
    display: flex;
    margin-left: 378px;
    width: 300px;
    align-items: center;

}

        /* Новий блок  */

.sction_3{
    width:100%;
    height: 100px;
}

.checen_box{
    width: 250px;
    height: 29px;
    margin-top: 30px;
    border: none;
    padding: 0px;
    background-color: #fff;
    color: #48555B;
    padding-top: 11px;
    padding-left: 16px;
    font-size: 14px;

}

.section_clic{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    background-color: #00A4E5;
    color: #fff;
    border: none;
    margin-right: 377px;
    font-weight: bold;
    transition: 0.4s;
}

.section_clic:hover{
    background-color: darkgray;
}

.h2_gmail{
    margin: 0px;
    color: #48555B;
    font-size: 14px;
    width: 123px;
    height: 15px;
}

    /* Нова секція */

.section_bottom{
    width: 100%;
    background-color: #141A20;
    display: flex;
    padding-top: 42px;
    flex-wrap: wrap;
    justify-content: center;
}

.foterContainer{
    max-width:1438px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 47px;
    width: 100%;
}

.bottom_1{
    width: 200px;
}

.company{
    color: #fff;
    font-size: 11px;
    margin: 0px;
    letter-spacing: 0.85px;
    margin: 0px
}

.img_logo{
    margin-top: 19px;
}

.li_company{
    position: relative;
    right: -249px;
    padding: 0px;
    margin-top: 42px;
    color: #FFF;
    font-size: 11px;

} 

.section_ul{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0px;
    padding: 0px;    
}

.li_links{
    padding: 0px;
    color: #fff;
    font-size: 11px;
} 

.links_nav{
    color: #fff;
    font-size: 11px;
    letter-spacing: 0.85px;
    margin: 0px;
}

.bottom_2{
    display: flex;
    width: 225px;
    margin-left: 71px;
}

.spanLinks{
    width: 35px;
    height: 15px;
    margin-top: 42px;
    color: black;
}

.h2_botom{ 
    color: #fff;
    font-size: 11px;
    width:200px ;
    height: 80px;
    line-height: 16px;
    letter-spacing: 0.85px;
    margin-top: 16px;
    font-weight: bold;
    transition: 0.4s;
}

.h2_botom:hover{
    color: #48555B;
}

.h2_navv{
    width: 75px;
    color: #fff;
    font-size: 11px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    line-height: 25px;
    letter-spacing: 0.85px;
    font-weight: bold;
    transition: 0.4s;
}

.h2_navv li:hover{
    color: #48555B;
}

.h2_tens{
    color: #fff;
    font-size: 11px;
    width: 55px;
    margin-left: 34px;
    margin-top: 15px;
    padding: 0px;
    line-height: 25px;
    margin-top: 25px;
    letter-spacing: 0.85px;
    font-weight: bold;
    transition: 0.4s;
}

.h2_tens li:hover{
    color: #48555B;
}

.h2_blog{
    color: #fff;
    font-size: 11px;
    width: 60px;
    margin: 0px;
    line-height: 25px;
    padding: 0px;
    margin-left: 38px;
    margin-top: 25px;
    letter-spacing: 0.85px;
    font-weight: bold;
    transition: 0.4s;
}

.h2_blog li:hover{
    color: #48555B;
}

.h2_cont{
    width: 200px;
    font-size: 11px;
    color: #fff;
    padding: 0px;
    margin: 0px;
    line-height: 15px;
    margin-left: 58px;
    letter-spacing: 0.85px;
    font-weight: bold;
    transition: 0.4s;
}
.h2_cont:hover{
    color: #48555B;
}

.h2_cont p:hover{
    color: red;
}

li{
    padding: 0px;
}

ul p{
    margin: 0px;
}

.li_us{
    color: #fff;
    margin-top: 42px;
    padding: 0px;
}

.liBottom{
    color: #fff;
    font-size: 11px;
    padding-bottom: 11px;
    padding: 0px;
    letter-spacing: 0.85px;
}

 .f01{
    display: flex;
   width: 12px;
   height: 12px;
   background-color: #fff;
   
}

.f01:hover{
    background-color:dimgrey;
}

.t02{
    display: flex;
   width: 12px;
   height: 12px;
   font-weight: bold;
    transition: 0.4s;
}

.t02:hover{
    background-color: dimgrey;
}

.g03{
    display: flex;
    width: 12px;
    height: 12px; 
    font-weight: bold;
    transition: 0.4s;
}   

.g03:hover{
    background-color: dimgrey;
}

.div_podval{
    background-color: #171819;
    max-width:1438px;
    width: 100%;
    margin: 0px;
    padding: 23px 0;
    display: flex;
}

.h2_podval{
    display: flex;
    color: #fff;
    font-size: 11px;
    margin:  0 auto;
    letter-spacing: 0.85px;
}  

.bottom_4{
    display: flex;
    margin: 0 -12.5px;
    padding-top: 20px;
}

.bottom_4 a{
    padding: 0 12.5px;
}

@media (max-width: 1024px){

    .imgHeder{
        margin-left: 2px;
    }

    .foot{
        margin-left: 210px;
    }

    .heder_conteiner{
        margin-left: 90px;
    }
    

    .logo::before{
        top: 1215px;
        left: 80px;
    }


    .div_1{
        margin-left: 82px;
    }

    .div_3{
        margin-right: 58px;
    }

    .div_h2{
        margin-left: 200px;
    }

    .section_clic{
        margin-right: 200px;
    }

    .liBottom{
        margin: 0px;
    }

    .sumtailClas{
        margin-left: 75px;
        margin-right: 48px;
    }
}

@media (max-width: 768px){

    .header{
        position: fixed;
        top: 0;
        width: 100%;
        background-color:dimgray;
        border: 0;
        z-index: 1000;
    }

    .itemSumtailClas{
        display: flex;
        flex-wrap: wrap;
    } 

    .bintmap{
       width: 100%;
       margin: 0 150px;
       margin-top: 75px;
    }
    .logo::before{
        top: 1425px;
        left: 45px;
    }

    .founded{
        width: 100%;
    }
    .lorem{
        width: 100%;
    }


    .sating{
        display: flex;
        flex-wrap: wrap;
    }

    .itemSumtailClas{
        width: 312px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .sumtailClas{
        flex-wrap: wrap;
        margin: 0 48px;
    }
    .div_h2{
        margin-left: 100px;
    }
    .section_clic{
        margin-right: 100px;
    }
    .h2_cont{
        width: 175px;
    }

    .bottom_2{
        margin-left: 25px;
    }

    .bottom_1{
        margin-left: 25px;
    }
    .heder_conteiner{
        margin: 0;
        position: relative;
        border-radius: 0; 
    }

    .heder_burger{
        position: absolute;
        display: flex;
        width: 40px;
        height: 30px;
        align-items: center;
        right: 30px;
    }

    /* .heder_menu{
        position: fixed;
        width: 100%;
        height: 700px;
        top: 0px;
        left: -100%;
        z-index: 50;
        background-color: thistle;
        overflow: scroll;
        transition: all 0.8s ease 0s;
    } */

    /* .heder_menu._active{
        left: 0; 
    } */

    .foot{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 65px;
        display: flex;
        align-items: center;
        background-color: gray;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        left: -100%;
        top: 0;
        transition: 0.3s;
    }

    .foot._active{
        left: 0;
    } 

    .foot a{
        font-size: 20px;
    }

    .text{
        padding-top: 167px;
    }

    .main_logo{
        margin-top: 70px;
    }

    .imgHeder{
        margin-left: 30px;
    }

    .nawHeder{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .hederImages{
        position: fixed;
        z-index: 1000;
        margin-top: 12px;
        margin-left: 20px;
        top: 0;
        left: 0;
    }

    .heder_logo{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 7;
        top: 12px;
        left: 30px;
    }


    /* .heder_menu:before{
        content: '';
        position: fixed;
        top: 0;
        left: 0px;
        width: 100%;
        max-width: 1438px;
        height: 50px;
        background-color: #FF2E63;
        z-index: 3;
    } */
    
    .heder_burger:before{
        content: '';
        background-color: #fff;
        position: fixed;
        width: 37px;
        height: 4px;
        top: 22px;
        z-index: 3;
        border-radius: 30px;
    }

    .heder_burger span{
        background-color: #fff;
        width: 37px;
        height: 4px;
        display: block;
        border-radius: 30px;
    }
    
    .heder_burger:after{
        content: '';
        background-color: #fff;
        position: fixed;
        width: 37px;
        height: 4px;
        top: 13px;
        display: block;
        z-index: 6;
        border-radius: 30px;
    }

    .heder_burger._activee::before{
        transform: rotate(49deg);
        top: 30px;
        transition: all 0.3s ease 0s;
    }

    .heder_burger._activee span{
        transform: rotate(-49deg);
        top: 21px;
        transition: all 0.3s ease 0s;
    }

    .heder_burger._activee::after{
        transform: scale(0);
    }

    body._activa{
        overflow: hidden;
    }

}

@media (max-width: 610px){
    .subTitleContainer{
        display: flex;
        flex-wrap: wrap;
    }

    .butom_all{
        margin: 0 auto;
        margin-top: 20px;
    }

    .logo::before{
        top: 1446px;
    }

    .bintmap{
        margin-left: 45px;
        margin-right: 25px;
    }

    .div_bottom{
        background-position: center;
    }

}

@media (max-width: 425px){

    .div_sectoin{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #171819;
    }

    .section_clic{
        margin-top: 10px;
    }

    .checen_box{
        margin-top: 10px;
    }

    .text{
        width: 298px;
    }

    .div_h2{
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .bintmap{
        display: flex;
        flex-wrap: wrap;
        margin-left: 60px;
        margin-right: 45px;
    }

    .logo::before{
        top: 1707px;
        left: 127px;
    }
    
    .logo{
        margin: 0 auto;
    }

    .p_text{
        padding-top: 20px;
    }

    .h2_cont{
        margin-top: 30px;
    }

    .bottom_2{
        margin-top: 20px;
    }
}

@media (max-width: 375px){
    .text{
        width: 298px;
    }

    .bintmap{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 145px;
    }

    .bitmap1{
        padding-top: 65px;
    }

    .bitMapTitle{
        margin-top: 75px;
    }

    .logo::before{
        top: 1952px;
        left: 100px;
    }

    .logo{
        margin: 0 auto;
    }

    .p_text{
        padding-top: 15px;
        margin: 0 auto;
    }

    .div_h2{
        margin-left: 33px;
    }

    .bottom_2{
        margin: 0;
        margin-top: 20px;
    }

    .h2_cont{
        width: 154px;
        margin-left: 15px;
        margin-top: 20px;
    }

}

@media (max-width: 320px){
    .words{
        width: 301px;
    }

    .div_h2{
        margin-top: 10px;
        margin-bottom: 0;
        width: 190px;
    }

    .logo::before{
        left: 78px;
    }

    .bottom_2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .h2_tens{
        margin-left: -11px;
    }

    .h2_blog{
        margin-left: -11px;
    }

    .h2_cont{
        margin-left: 73px;
        width: 163px;
        margin-top: 30px;
    }

    .div_sectoin{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #171819;
    }

    .checen_box{
        margin-top: 10px;
    }

    .section_clic{
        margin-top: 10px;
    }
    
}

